<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dev.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Example 1</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="#" email="juliano.manica@chipsat.com.br">
        Juliano Manica 
    </author>
	
	<preference name="fullscreen" value="true" />
	
	<access origin="http://localhost:8082/mobile/Exemplo1/" subdomains="true" />

</widget>